<html>
    <head>
        <title>GOOPY</title>
        <% include partials/head_home.ejs %>
    </head>
    <body>
        <div class="main" id="masthead">
            <div class="search-box" id="srchbx">
                <input type="text" placeholder="Search" id="search">
                <button id="go-button" onclick="search()"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <% include partials/scripts.ejs %>          
    </body>
</html>


