* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url('../images/results.jpg');
    background-size: contain;
    background-attachment: fixed;
}

.container {
    padding: 40px;
}

.card {
    background-color: white;
    width: 160px;
    height: 300px;
    display: inline-block;
    float: left;  
    margin-right: 20px;
    margin-bottom: 20px;  
    cursor: pointer;
    box-shadow: 0px 13px 31px -5px rgba(0,0,0,0.22);
    transition: ease-out all 0.2s;
    border-radius: 0px 0px 5px 5px;
    position: relative;
}

.card:hover {
    z-index: 2;
}

/* .card:hover {
    transform: scale(1.1) translateY(-20px);
} */

.card-img {
    width: inherit;
    height: 240px;
}

.card-img img {
    width: inherit;
    overflow: hidden;
    height: inherit;
    border-radius: 5px 5px 0px 0px;
}

.card-info {
    width: inherit;
    padding: 7px;
    font-family: Montserrat, sans-serif;
    color: #303030;
}

#title, #year {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    transform: translateZ(0);
}

#title {
    margin-top: 3px;
    font-size: 17px;
    font-weight: 500;
}

#year {
    font-size: 15px;
}